@page "/AdminGeneral/Levels/create"
@inject HttpClient http
@inject NavigationManager uriHelper
@using Services.Http
@inject IRepository<int, LevelApi> _levelRepo
@using System.Net
@using Newtonsoft.Json

    <NavBarTop />

<h3>Create</h3>

<Form ButtonText="Create Level" lev="@lev"
      OnValidSubmit="@CreateLevel" />

@code { 

        LevelApi lev = new LevelApi();
        async Task CreateLevel()
        {
            var response = await _levelRepo.Post(lev);

            switch (response.StatusCode)
            {
                case HttpStatusCode.OK:
                    string content = await response.Content.ReadAsStringAsync();
                    lev = JsonConvert.DeserializeObject<LevelApi>(content);
                    break;
            }
            //await http.PostAsJsonAsync("LevelApi", lev);
            uriHelper.NavigateTo("AdminGeneral/Levels");
        }
    
    }