

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}


.valid.modified:not([type=checkbox]) {
    border-color: hsl(141,71%,48%);
}

.invalid {
    border-color: hsl(348, 100%,61%);
}

.validation-message {
    color: hsl(348, 100%,61%);
}


