@page "/AdminGeneral/Accueil"

    <NavBarTop />
<h3>Accueil</h3>


<a class="btn btn-success" href="AdminGeneral/Levels">Levels</a>
<a class="btn btn-success" href="AdminGeneral/LanguageLevels">Language Levels</a>
@code {

}
