@if (User.Identity.IsAuthenticated)
{
    <ul class="navbar-nav">
        <li>
            <span class="navbar-text">
                hello, @User.Identity.Name
            </span>
            &nbsp;
            <a onclick="document.getElementById('logout_form').submit();" style="cursor: pointer">Logout</a>
        </li>
    </ul>
    <form asp-controller="Login" asp-action="Logout" method="post" id="logout_form"></form>
}
else
{
    <ul class="navbar-nav">
        <li><a asp-controller="Login" asp-action="Login">Login</a></li>
    </ul>
}

